aside {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #455a64;
}

aside > .aside-wrapper {
  width: 300px;
  padding: 10px 0;
}

aside .box-user { text-align: center; }

aside .avatar-user,
aside .img-user {
  display: inline-block;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 3px solid #2f3d42;
  font-size: 50px;
  color: #2f3d42;
  background-color: rgba(255, 255, 255, 0.08);

  overflow: hidden;
}

aside .img-user img:hover {
  transition: 0.7s;
  transform: scale(1.1);
}

aside .avatar-user i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media screen and (max-width: 400px){
  aside .aside-wrapper { width: 200px; }
}
