* {
  margin: 0;
  padding: 0;
  box-sizing :border-box;
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

img { max-width: 100%; }

a {
  text-decoration: none;
  color: inherit;
}

input {
  border-radius: 0;
  appearance: none;
}

textarea { resize: none; }

ul[class],
ol[class] { list-style-type: none; }
