.box-metricas {
  margin-top: 16px;
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
}

.box-metricas-single {
  flex: 1 33.3%;
  width: 33.3%;
  border: 5px solid white;
  text-align: center;
}

.box-metricas-single:nth-of-type(1) { background-color: #c5c752; }
.box-metricas-single:nth-of-type(2) { background-color: var(--orange); }
.box-metricas-single:nth-of-type(3) { background-color: #84A65A; }

.box-metricas-wrapper {
  padding: 10px 20px;
  color: white;
}

.box-metricas-wrapper h2 { font-size: 28px; }

.box-metricas-wrapper p {
  padding: 10px 0;
  font-size: 26px;
}

@media screen and (max-width: 1024px) {
  .box-metricas-single {
    width: 50%;
    flex-basis: 50%;
  }
}
