.box-metricas {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  gap: 10px;
  padding: 0 15px;
}

.box-metricas-single {
  flex: 1 250px;
  text-align: center;
}

.box-metricas-single:nth-of-type(1) { background-color: #c5c752; }
.box-metricas-single:nth-of-type(2) { background-color: var(--orange); }
.box-metricas-single:nth-of-type(3) { background-color: #84A65A; }

.box-metricas-wrapper {
  padding: 10px 20px;
  color: white;
}

.box-metricas-wrapper h2 { font-size: 28px; }

.box-metricas-wrapper p {
  padding: 10px 0;
  font-size: 26px;
}
