.paginacao {
  margin: 20px 0;
  text-align: center;
}

.paginacao a {
  font-size: 14px;
  margin: 0 6px;
  display: inline-block;
  padding: 3px 8px;
  border: 1px solid var(--gray-light);
  text-decoration: none;
  color: var(--gray);
  box-shadow: 0 0 7px 1px var(--gray-light);
}

.paginacao a.active { background-color: rgba(0, 0, 0, 0.14); }
