section.especialiades {
  background-color: #999;
  padding: 40px 0;
}

section.especialiades .title {
  font-size: 30px;
  color: #999;
  font-weight: 300;
  text-align: center;
}

section.especialiades .content {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
}

section.especialiades .box-especialidade {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1 1 300px;
  margin: 40px 0;
}

section.especialiades .box-especialidade .icon {
  font-size: 40px;
  color: var(--purple);
}

section.especialiades .box-especialidade .skill {
  font-weight: 300;
  color: #BABABA;
  font-size: 25px;
}

section.especialiades .box-especialidade p {
  color: var(--gray-dark);
  font-size: 15px;
  margin-top: 10px;
}
