#map {
  width: 100%;
  height: 400px;
}

section.contato {
  text-align: center;
  padding: 0 0 40px;
}

section.contato form {
  margin: 40px auto 0;
  max-width: 600px;
}

section.contato [type=submit] {
  height: 40px;
  width: 120px;
  cursor: pointer;
  background-color: var(--green);
  border: none;
  border-radius: 5px;
  color: white;
}
