section.news-single {
  padding: 40px 0;
  color: var(--gray);
}

section.news-single .news-header { background-color:  transparent; }

section.news-single .news-header > h1 {
  font-size: 30px;
  border-bottom: 2px solid var(--gray);
}

section.news-single .news-content { margin-top: 20px; }

section.news-single ul {
  list-style-position: inside;
  margin: 10px 0;
}

section.news-single .news-content h2,
section.news-single .news-content h3,
section.news-single .news-content h4,
section.news-single .news-content h5,
section.news-single .news-content h6,
section.news-single .news-content p { margin: 10px 0; }

section.news-single img {
  display: block;
  margin: 10px auto;
}
